<%= form_for(@user, :url => {:action => "create"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "用户名：" %><br />
    <%= f.text_field :username%>
  </div>
  <div class="field">
    <%= f.label "邮箱：" %><br />
    <%= f.text_field :email%>
  </div>
  <div class="field">
    <%= f.label "密码：" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "确认密码：" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "公司：" %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label "个人简介" %><br />
    <%= f.text_area :profile, :rows => 6, :cols => 60%>
  </div>
  
  <div class="actions">
    <%=submit_tag "注册" %>
  </div>
<% end %>
